.menuItem {
  text-align: left;
  cursor: pointer;
  padding-left: 1rem;
  text-transform: capitalize;
  font-size: 1.2rem;


}
.menuItem > a {
  font-weight: 200;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
  font-size: 1.2rem;
}

/* .menuItem > h4::first-letter {
  text-transform: uppercase;
} */



.menuItem > h4:hover{
transition: all 0.5s ease-in;
color: crimson;
}

.menuItem:hover {
  color: crimson;
  

}
  